/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700|Patua+One|Source+Code+Pro:300,500");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?14cjf0");
  src: url("../fonts/icomoon/icomoon.eot?14cjf0#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?14cjf0") format("truetype"), url("../fonts/icomoon/icomoon.woff?14cjf0") format("woff"), url("../fonts/icomoon/icomoon.svg?14cjf0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'devicon';
  src: url("../fonts/devicon/devicon.eot?-hdf3wh");
  src: url("../fonts/devicon/devicon.eot?#iefix-hdf3wh") format("embedded-opentype"), url("../fonts/devicon/devicon.woff?-hdf3wh") format("woff"), url("../fonts/devicon/devicon.ttf?-hdf3wh") format("truetype"), url("../fonts/devicon/devicon.svg?-hdf3wh#devicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="devicon-"], [class*=" devicon-"] {
  font-family: 'devicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicon-handlebars:before {
  content: "\e94b"; }

.devicon-rubymine:before {
  content: "\e937"; }

.devicon-webstorm:before {
  content: "\e939"; }

.devicon-webpack:before {
  content: "\e929"; }

.devicon-visualstudio:before {
  content: "\e927"; }

.devicon-slack:before {
  content: "\e925"; }

.devicon-sourcetree:before {
  content: "\e913"; }

.devicon-github:before {
  content: "\e909"; }

.devicon-d3js:before {
  content: "\e90c"; }

.devicon-confluence:before {
  content: "\e90d"; }

.devicon-bitbucket:before {
  content: "\e90f"; }

.devicon-safari:before {
  content: "\e63c"; }

.devicon-jetbrains:before {
  content: "\e63d"; }

.devicon-heroku:before {
  content: "\e60f"; }

.devicon-amazonwebservices:before {
  content: "\e603"; }

.devicon-android:before {
  content: "\e60e"; }

.devicon-angularjs:before {
  content: "\e61d"; }

.devicon-apple:before {
  content: "\e622"; }

.devicon-atom:before {
  content: "\e624"; }

.devicon-bootstrap:before {
  content: "\e62f"; }

.devicon-chrome:before {
  content: "\e666"; }

.devicon-coffeescript:before {
  content: "\e66a"; }

.devicon-css3:before {
  content: "\e679"; }

.devicon-drupal:before {
  content: "\e6e3"; }

.devicon-firefox:before {
  content: "\e75e"; }

.devicon-google:before {
  content: "\e91e"; }

.devicon-grunt:before {
  content: "\e7eb"; }

.devicon-gulp:before {
  content: "\e7ec"; }

.devicon-html5:before {
  content: "\e7f7"; }

.devicon-ie10:before {
  content: "\e7f8"; }

.devicon-illustrator:before {
  content: "\e7fa"; }

.devicon-javascript:before {
  content: "\e845"; }

.devicon-jquery:before {
  content: "\e84a"; }

.devicon-less-wordmark:before {
  content: "\e853"; }

.devicon-nodejs:before {
  content: "\eb6a"; }

.devicon-photoshop:before {
  content: "\eb6d"; }

.devicon-rails:before {
  content: "\eba3"; }

.devicon-react:before {
  content: "\e601"; }

.devicon-ruby:before {
  content: "\ebca"; }

.devicon-sass:before {
  content: "\ebcb"; }

.devicon-trello:before {
  content: "\ebcf"; }

.devicon-twitter:before {
  content: "\e91f"; }

.devicon-windows8:before {
  content: "\ebf5"; }

.devicon-wordpress:before {
  content: "\ebfe"; }

.icon-home:before {
  content: "\e900"; }

.icon-pencil2:before {
  content: "\e906"; }

.icon-images:before {
  content: "\e90e"; }

.icon-connection:before {
  content: "\e91b"; }

.icon-stack:before {
  content: "\e92e"; }

.icon-display:before {
  content: "\e956"; }

.icon-mobile:before {
  content: "\e958"; }

.icon-mobile2:before {
  content: "\e959"; }

.icon-database:before {
  content: "\e964"; }

.icon-user:before {
  content: "\e971"; }

.icon-enlarge2:before {
  content: "\e98b"; }

.icon-shrink2:before {
  content: "\e98c"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-bug:before {
  content: "\e999"; }

.icon-pie-chart:before {
  content: "\e99a"; }

.icon-stats-dots:before {
  content: "\e99b"; }

.icon-stats-bars:before {
  content: "\e99c"; }

.icon-mug:before {
  content: "\e9a2"; }

.icon-spoon-knife:before {
  content: "\e9a3"; }

.icon-meter2:before {
  content: "\e9a7"; }

.icon-fire:before {
  content: "\e9a9"; }

.icon-lab:before {
  content: "\e9aa"; }

.icon-airplane:before {
  content: "\e9af"; }

.icon-truck:before {
  content: "\e9b0"; }

.icon-earth:before {
  content: "\e9ca"; }

.icon-link:before {
  content: "\e9cb"; }

.icon-attachment:before {
  content: "\e9cd"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.icon-arrow-down2:before {
  content: "\ea3e"; }

.icon-arrow-left2:before {
  content: "\ea40"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-spotify:before {
  content: "\ea94"; }

.icon-vimeo:before {
  content: "\eaa0"; }

.icon-github:before {
  content: "\eab0"; }

.icon-appleinc:before {
  content: "\eabe"; }

.icon-android:before {
  content: "\eac0"; }

.icon-windows:before {
  content: "\eac1"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-chrome:before {
  content: "\ead9"; }

.icon-firefox:before {
  content: "\eada"; }

.icon-IE:before {
  content: "\eadb"; }

.icon-edge:before {
  content: "\eadc"; }

.icon-safari:before {
  content: "\eadd"; }

.icon-codepen:before {
  content: "\eae8"; }

/* === Variables === */
/* Colors */
/* Styles */
/* Mixins */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

html {
  font-size: 20px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  background: #f7f7f7;
  color: #333;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  max-width: 1440px;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: "Patua One", sans-serif;
  font-size: 93px;
  font-weight: 400; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 44px;
  font-weight: 100;
  margin: 0;
  padding: 1vh 0; }

h3 {
  font-size: 45px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  margin: 2.5vh 0;
  padding: 1vh 0; }

h4 {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: normal; }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

a {
  color: #b3d65c;
  font-family: "Patua One", sans-serif;
  font-weight: 100;
  text-decoration: none; }
  a:hover {
    color: #90b72e;
    text-decoration: none; }
  a.blue {
    color: #88bce1; }
    a.blue:hover {
      color: #4b9ad2;
      text-decoration: none; }

.button {
  background: #dedede;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  margin: 25px 0 20px;
  padding: 12px 55px;
  text-decoration: none;
  transition: ease .2s; }
  .button:hover, .button:focus {
    background: #c4c4c4;
    color: #fff;
    transition: ease .3s; }
  .button.blue {
    background: #88bce1; }
    .button.blue:hover, .button.blue:focus {
      background: #5fa5d7; }
  .button.red {
    background: #e95656; }
    .button.red:hover, .button.red:focus {
      background: #e32929; }
  @media screen and (max-width: 767px) {
    .button {
      border-radius: 50px;
      display: block;
      font-size: 18px;
      margin: 35px 0 10px;
      text-align: center;
      padding: 18px 55px; } }

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-flow: row;
  grid-gap: .5em; }

.row {
  grid-column: 1/14; }
  .row.inner {
    grid-column: 2/13; }

.stack {
  display: grid; }
  .stack.two-column {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; }
    .stack.two-column .left,
    .stack.two-column .right {
      align-self: center;
      justify-self: stretch; }
  .stack.full {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; }
  .stack .content {
    background: #fff;
    font-size: 20px;
    line-height: 1.45;
    padding: 2vh 3vw; }
    .stack .content p {
      line-height: 1.7;
      margin: 2vh 0; }

header {
  background: #fff;
  margin: 0 0 -.5em;
  padding: 50px 0 0;
  overflow: hidden;
  width: 100%; }

.nav {
  grid-column: 1/14;
  overflow: hidden;
  padding: 0;
  text-align: center;
  transition: ease .5s;
  width: 100%; }
  .nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      font-size: 1em;
      font-weight: 100;
      margin: 0;
      padding: 0;
      width: 100%; }
      .nav ul li a {
        color: #333;
        display: block;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        padding: 24px 0;
        text-decoration: none;
        transition: ease .25s; }
        .nav ul li a span {
          color: #333;
          display: none;
          position: relative;
          top: 3px;
          left: 5px; }
          @media screen and (min-width: 1px) and (max-width: 767px) {
            .nav ul li a span {
              display: block; } }
        .nav ul li a:hover {
          color: #ffca46;
          transition: ease .2s; }

.foot {
  /* start grid properties */
  align-self: stretch;
  justify-self: stretch;
  grid-area: foot;
  grid-column: 1/3;
  grid-row: 3/4;
  /* end */
  background: #fff;
  border-top: 1px solid #dedede;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .foot {
      display: none; } }
  .foot ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 40px; }
    .foot ul li {
      display: inline-block;
      font-size: 20px;
      font-weight: 100; }
      .foot ul li a {
        color: #b3b3b3;
        text-decoration: none;
        text-transform: lowercase;
        transition: ease .2s; }
        .foot ul li a span {
          font-family: "Lato", sans-serif;
          opacity: 0;
          transition: ease .3s; }
        .foot ul li a:hover {
          transition: ease .3s; }
          .foot ul li a:hover span {
            opacity: 1;
            padding-left: 15px;
            transition: ease .3s; }

/* ---------- *  Headings  * ---------- */
.header {
  align-self: center;
  background: #fff;
  grid-column: 1/14;
  margin: 0;
  padding: 12vh 0;
  text-align: center; }
  .header hr {
    background: #ffca46;
    border: none;
    height: 5px;
    margin: 1.5vh auto 2.5vh;
    width: 20%; }
  .header.sub {
    background: none;
    margin: 0;
    padding: 10vh 0 7vh;
    text-align: center; }
    .header.sub.white {
      background: #fff;
      margin: 5vh 0 -.5em; }
    .header.sub h3 {
      color: #333;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-transform: lowercase; }
    .header.sub h4 {
      color: #333; }
    .header.sub hr {
      background: #ffca46;
      border: none;
      height: 5px;
      width: 20%; }
    .header.sub.left {
      grid-column: 2/9;
      text-align: left; }
      .header.sub.left hr {
        margin: 3vh 0; }
    .header.sub.right {
      grid-column: 5/12;
      text-align: right; }
      .header.sub.right hr {
        margin: 3vh 0; }

/* ---------- *  Mobile & Desktop  * ---------- */
.preferences {
  align-self: center;
  grid-column: 8/13;
  justify-self: stretch;
  padding: 0 2vw; }
  .preferences ul {
    align-self: center;
    display: grid;
    grid-template-columns: 8vw 1fr;
    grid-gap: 15px;
    justify-self: center;
    list-style-type: none; }
    .preferences ul li:first-child {
      align-self: flex-end;
      background: #ababab;
      border-radius: 6px;
      grid-column: 1/2;
      height: auto;
      justify-self: center;
      padding: 4px 2px;
      text-align: center; }
      .preferences ul li:first-child span {
        color: #b3d65c;
        border-radius: 6px;
        display: block;
        background: #fff;
        font-size: 35px;
        justify-self: center;
        align-self: center;
        padding: 25px 10px 45px; }
    .preferences ul li:last-child {
      align-self: center;
      background: #ababab;
      border-radius: 8px;
      grid-column: 2/3;
      height: auto;
      justify-self: stretch;
      max-height: 30vh;
      padding: 8px 8px 30px;
      text-align: center; }
      .preferences ul li:last-child span {
        color: #88bce1;
        background: #fff;
        display: block;
        font-size: 75px;
        justify-self: center;
        overflow: hidden;
        padding: 5vh 0;
        position: relative;
        z-index: 1; }

/* ---------- *  Tools  * ---------- */
.tool-items {
  background: #fff;
  grid-column: 1/14; }
  .tool-items ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    list-style-type: none; }
    .tool-items ul li {
      align-self: center;
      justify-self: stretch;
      font-size: 120px;
      padding: 1vh 1vw;
      text-align: center; }
      .tool-items ul li a {
        color: #d1d1d1;
        font-size: 65px; }
        .tool-items ul li a:hover {
          color: #ffca46; }

/*# sourceMappingURL=imports.css.map */
