.button {
    background: darken($gray, 10%);
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    margin: 25px 0 20px;
    padding: 12px 55px;
    text-decoration: none;
    transition: ease .2s;

    &:hover,
    &:focus {
        background: darken($gray, 20%);
        color: #fff;
        transition: ease .3s;
    }

    &.blue {
        background: $blue;

        &:hover,
        &:focus {
            background: darken($blue, 10%);
        }
    }


    &.red {
        background: $red;

        &:hover,
        &:focus {
            background: darken($red, 10%);
        }
    }

    @media screen and (max-width: 767px) {
        border-radius: 50px;
        display: block;
        font-size: 18px;
        margin: 35px 0 10px;
        text-align: center;
        padding: 18px 55px;
    }
}