.foot {
    /* start grid properties */
    align-self: stretch;
    justify-self: stretch;
    grid-area: foot;
    grid-column: 1/3;
    grid-row: 3/4;

    @media screen and (max-width: 768px) {
        display: none;
    }
    /* end */

    background: #fff;
    border-top: 1px solid darken($gray, 10%);
    text-align: center;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin-top: 40px;

        li {
            display: inline-block;
            font-size: 20px;
            font-weight: 100;

            a {
                color: lighten($copy-color, 50%);
                text-decoration: none;
                text-transform: lowercase;
                transition: ease .2s;

                span {
                    font-family: $copy-font;
                    opacity: 0;
                    transition: ease .3s;
                }

                &:hover {
                    transition: ease .3s;

                    span {
                        opacity: 1;
                        padding-left: 15px;
                        transition: ease .3s;
                    }
                }
            }
        }
    }
}