/* === Variables === */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700|Patua+One|Source+Code+Pro:300,500');

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?14cjf0');
    src:  url('../fonts/icomoon/icomoon.eot?14cjf0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?14cjf0') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?14cjf0') format('woff'),
    url('../fonts/icomoon/icomoon.svg?14cjf0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e906";
}
.icon-images:before {
    content: "\e90e";
}
.icon-connection:before {
    content: "\e91b";
}
.icon-stack:before {
    content: "\e92e";
}
.icon-display:before {
    content: "\e956";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-mobile2:before {
    content: "\e959";
}
.icon-database:before {
    content: "\e964";
}
.icon-user:before {
    content: "\e971";
}
.icon-enlarge2:before {
    content: "\e98b";
}
.icon-shrink2:before {
    content: "\e98c";
}
.icon-magic-wand:before {
    content: "\e997";
}
.icon-bug:before {
    content: "\e999";
}
.icon-pie-chart:before {
    content: "\e99a";
}
.icon-stats-dots:before {
    content: "\e99b";
}
.icon-stats-bars:before {
    content: "\e99c";
}
.icon-mug:before {
    content: "\e9a2";
}
.icon-spoon-knife:before {
    content: "\e9a3";
}
.icon-meter2:before {
    content: "\e9a7";
}
.icon-fire:before {
    content: "\e9a9";
}
.icon-lab:before {
    content: "\e9aa";
}
.icon-airplane:before {
    content: "\e9af";
}
.icon-truck:before {
    content: "\e9b0";
}
.icon-earth:before {
    content: "\e9ca";
}
.icon-link:before {
    content: "\e9cb";
}
.icon-attachment:before {
    content: "\e9cd";
}
.icon-arrow-up2:before {
    content: "\ea3a";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-arrow-down2:before {
    content: "\ea3e";
}
.icon-arrow-left2:before {
    content: "\ea40";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-spotify:before {
    content: "\ea94";
}
.icon-vimeo:before {
    content: "\eaa0";
}
.icon-github:before {
    content: "\eab0";
}
.icon-appleinc:before {
    content: "\eabe";
}
.icon-android:before {
    content: "\eac0";
}
.icon-windows:before {
    content: "\eac1";
}
.icon-linkedin:before {
    content: "\eac9";
}
.icon-chrome:before {
    content: "\ead9";
}
.icon-firefox:before {
    content: "\eada";
}
.icon-IE:before {
    content: "\eadb";
}
.icon-edge:before {
    content: "\eadc";
}
.icon-safari:before {
    content: "\eadd";
}
.icon-codepen:before {
    content: "\eae8";
}

$title-font: 'Playfair Display', serif;
$copy-font: 'Lato', sans-serif;
$patua: 'Patua One', sans-serif;
$code: 'Source Code Pro', monospace;

/* Colors */
$blue: #88bce1;
$red: #e02626;
$green: #b3d65c;
$orange: #ffca46;
$gray: #f2f2f2;
$copy-color: #333;

$primary: $red;

/* Styles */
$boxShadow: 0px 3px 8px -2px rgba(94,94,94,0.15);
$boxShadowUp: 0px 5px 8px 1px rgba(94,94,94,0.1);

/* Mixins */