* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background: $gray;
    color: $copy-color;
    font-family: $copy-font;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    max-width: 1440px;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: $patua;
    font-size: 93px;
    font-weight: 400;
}

h2 {
    font-family: $copy-font;
    font-size: 44px;
    font-weight: 100;
    margin: 0;
    padding: 1vh 0;
}

h3 {
    font-size: 45px;
    font-family: $copy-font;
    font-weight: normal;
    margin: 2.5vh 0;
    padding: 1vh 0;
}

h4 {
    font-size: 25px;
    font-family: $copy-font;
    font-weight: normal;
}

h4 {
    font-family: $copy-font;
    font-weight: normal;
}

a {
    color: $green;
    font-family: $patua;
    font-weight: 100;
    text-decoration: none;

    &:hover {
        color: darken($green, 15%);
        text-decoration: none;
    }

    &.blue {
        color: $blue;

        &:hover {
            color: darken($blue, 15%);
            text-decoration: none;
        }
    }
}