header {
    background: #fff;
    margin: 0 0 -.5em;
    padding: 50px 0 0;
    overflow: hidden;
    width: 100%;
}

.nav {
    grid-column: 1/14;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: ease .5s;
    width: 100%;

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 1em;
            font-weight: 100;
            margin: 0;
            padding: 0;

            width: 100%;

            a {
                color: $copy-color;
                display: block;
                font-family: $copy-font;
                font-weight: normal;
                padding: 24px 0;
                text-decoration: none;
                transition: ease .25s;

                span {
                    color: $copy-color;
                    display: none;
                    position: relative;
                    top: 3px;
                    left: 5px;

                    @media screen and (min-width: 1px) and (max-width: 767px) {
                        display: block;
                    }
                }

                &:hover {
                    color: $orange;
                    transition: ease .2s;
                }
            }
        }
    }
}
