.stack {
    display: grid;

    &.two-column {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;

        .left,
        .right {
            align-self: center;
            justify-self: stretch;
        }
    }

    &.full {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .content {
        background: #fff;
        font-size: 20px;
        line-height: 1.45;
        padding: 2vh 3vw;

        p {
            line-height: 1.7;
            margin: 2vh 0;
        }
    }
}
