.tier-header {
    align-self: center;
    grid-column: 1/14;
    grid-row: 2;
    padding: 4vh 2vw;
    text-align: left;
    transform: translateY(5vh);

    h1 {
        @media screen and (min-width: 1400px) {
            font-size: 93px;
        }
    }

    h2 {
        font-size: 1.5em;
        margin: 1vh 0 2vh;
    }

    hr {
        background: $green;
        border: none;
        float: left;
        height: 5px;
        margin: 1.5vh auto 4vh;
        width: 20%;
    }
}

.tier-hero {
    grid-column: 8/14;
    grid-row: 3;

    figure {
        margin: 0;
        overflow: hidden;
        max-width: 100%;

        img {
            width: 100%;
            position: relative;

        }
    }
}

.tier-body-half {
    align-self: stretch;
    grid-column: 1/7;
    grid-row: 3;
    padding: 2.5vh 2vw;

    p {
        margin: 3vh 0;
    }
}

.nav-btn {
    &:hover {
        border: 1px solid $green;
        color: $green;
    }
}