/* === Variables === */

$title-font: 'Playfair Display', serif;
$copy-font: 'Lato', sans-serif;
$patua: 'Patua One', sans-serif;
$code: 'Source Code Pro', monospace;

/* Colors */
$blue: #88bce1;
$red: #e95656;
$green: #b3d65c;
$orange: #ffca46;
$gray: #f7f7f7;
$purple: #9d44f8;
$copy-color: #333;

$primary: $red;

/* Styles */
$boxShadow: 0px 3px 8px -2px rgba(94,94,94,0.15);
$boxShadowUp: 0px 5px 8px 1px rgba(94,94,94,0.1);

/* Mixins */